<body>
<main>
    <div class="conteudo">
        <p class="nome">Mustang Mach 1</p><p class="preco">R$553.180</p>
        <br>
        <p class="nome">Maverick</p><p class="preco">R$233.310</p>
        <br>
        <p class="nome">Ranger</p><p class="preco">R$213.990</p>
        <br>
        <p class="nome">RangerXL</p><p class="preco">R$218.990</p>
        <br>
        <p class="nome">Territory</p><p class="preco">$218.990</p>
    </div>
    <div class="tabela">
        <table>
            <tr>
                <th>Produtos</th>
                <th>Preços</th>
            </tr>
            <tr>
                <td>Mustang Mach 1</td>
                <td>R$553.180</td>
            </tr>
            <tr>
                <td>Maverick</td>
                <td>R$233.310</td>
            </tr>
            <tr>
                <td>Ranger</td>
                <td>R$213.990</td>
            </tr>
            <tr>
                <td>RangerXL</td>
                <td>R$218.990</td>
            </tr>
            <tr>
                <td>Territory</td>
                <td>R$218.990</td>
            </tr>
        </table>
    </div>
</main>
    
</body>