<body>
    

<main class="conteudo">
    <article>
        <h1>História da Empresa</h1>
        <p>Henry Ford nasceu no dia 30 de julho de 1863, em uma fazenda em Dearborn, Michigan, EUA. Desde menino ele adorava desmontar e remontar relógios, mostrando sua vocação para a engenharia. Engrenagens, catracas, molas e ferramentas eram seus brinquedos favoritos e bastava observar um mecanismo para entender o seu funcionamento.</p>
    
        <p>Vivendo o trabalho duro na fazenda, percebeu que as máquinas podiam ser empregadas em muitas tarefas para aliviar as pessoas desse fardo. Trabalhou como aprendiz em uma fábrica de vagões ferroviários e uma oficina em Detroit. Aos 16 anos, também trabalhava à noite numa joalheria consertando relógios.</p>

        <p>Voltou a Dearborn para ajudar a administrar a fazenda da família. Com seu jeito para mecânica, foi contratato pela Westinghouse para consertar motores a vapor. Estudou contabilidade, administração e desenho mecânico em Detroit e se casou com Clara Bryant. Foi contratado como engenheiro na usina elétrica de Detroit da Edison Illuminating Company, de Thomas Edison, inventor da lâmpada elétrica e do cinema, que mais tarde tornou-se seu incentivador. A empresa permitia que ele usasse uma pequena oficina onde desenvolvia seus projetos.</p>
      
        <p>Aos 30 anos, Ford fabricou um motor de combustão interna de um cilindro, instalado na mesa da cozinha de sua casa, com a ajuda da esposa. Em 1896 ele projetou e construiu outro motor, desta vez adaptado a um quadro equipado com rodas de bicicleta, o Quadriciclo, que se tornaria o primeiro automóvel Ford.</p>
    </article>
</main>
</body>