.logo
{
    display: inline-block;
}

.sobre
{
    display: inline-block;
    font-family: 'Kantumruy Pro', sans-serif;
}

.divulg
{
    display: inline-block;
    text-align: center;
    width: 300px;
    font-family: 'Kantumruy Pro', sans-serif;
}

footer
{
    background-color: white;
}